.bar-dev2dev {
	background-color: #006978;
	color:#fff;
	min-height:30px;
}


.container-bar-dev2dev {

}

.container-bar-dev2dev {

}

.container-bar-dev2dev img{
	float:left;
}

.logo {
	float:left;
	margin-right:3rem;
}

.logo2 {
	margin-left:3rem;
	margin-top:2rem;
	margin-right:2rem;
}

.titreCanope {
	font-size: 2rem;
	padding-top:2rem;
	background-image: ;
}

.bar-titre-appli {
	background-color: #000;
	color: #fff;
	margin-bottom: 0px;

}

.container-titre-appli {
	text-align:center;
	font-size: 2rem;
	padding-top:10px;
}

a.titre-appli, a.titre-appli:visited {
	color:#fff;
	text-decoration: none
}

a.titre-appli:hover {
	text-decoration: underline;
}

.container-titre-appli a.titre-appli, .container-titre-appli a.titre-appli:visited {
	color: #fff;
	text-decoration: none;
}

.container-titre-appli a:hover, .container-titre-appli a:focus {
	color: #fff;
	text-decoration: underline;
}

.jumbotron {
	background-color: #eee;
	/*background-color: #DFF7C2;*/

}

.container-menu > .navbar-nav > li > a, .container-menu > .navbar-nav > li > a:visited {
	color:#fff;
}

.container-menu > .navbar-nav > li > a:hover {
	color:#0d65b9;
}

.mtop2em {
	margin-top: 2em;
}

.carre-autres {
	width: 324px;
	height: 432px;
	background-color: #F2F55F;
	padding: 1em;
}

p#erreur-inscription {
  color:#cc3300;
  font-weight:bold;
}

div#form {
  width: 920px;
}

div#form h1 {
  text-align:center;
}

div#form form {
  margin-left:10px;
}

div#form form ul {
  margin: 0;
  padding: 0;
}

div#form form ul li {
  list-style:none;
  margin-bottom: 10px;
}

div#form form ul.errorlist {
  float:right;
  margin-right:50px;
}
div#form form ul.errorlist li {
  margin-bottom:0;
  color:#cc3300;
}

div#form form label {
  width: 200px;
  display:inline-block;
  font-weight: bold;
}

div#form form input[type=text], div#form form select {
  width: 300px;
}



footer {
	background-color: #0d65b9;
	color: #fff;
	padding: 5px 0px;
	/*position: absolute;*/
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 60px;
}
