<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DEV2DEV</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
  <nav class="navbar bar-dev2dev">
    <div class="container container-bar-dev2dev">
      <div class="titreCanope">DEV2DEV<br>Get ready to connect and grow</div>
    </div>
    <div class="container hidden-xs hidden-sm">
      <a href="/"><img src="{% static 'img/formations_900.jpg' %}" alt="FORMATIONS"></a>
    </div>
  </nav>

  <nav class="navbar bar-titre-appli hidden-md hidden-lg">
    <div class="container container-titre-appli">
      <p><a class="titre-appli" href="/">Get ready to connect and grow</a></p>
    </div>
  </nav>
  <nav class="navbar bar-menu bar-titre-appli">
    <div class="container container-menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/ads">Ads</a>
        </li>
        <li>
          <a href="/register">Register</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container main">
    {% block main_content %}
    {% endblock %}
  </div>


  <footer>
    <div class="container">
      <p>&copy; DEV2DEB</p>
    </div>
  </footer>
</body>
</html>
